In [1]:
from match import Match
from vendors.tennisabstract.historical_match_stats import HistoricalMatchStats
from models import probabilities
from models import learnloop

note: both players must be top 100 for current atp scrape functionality

In [2]:
m = Match('nadal', 'ruud')

<h1 style="color:teal">player stats</h1>

scrape ytd data | warn: uneven number of matches played by surface

In [13]:
m.build_serve_return_frame()

                            nadal ruud
metric
Aces                           28  139
Double Faults                  29   48
1st Serve                     66%  66%
1st Serve Points Won          69%  73%
2nd Serve Points Won          57%  56%
Break Points Faced             70  149
Break Points Saved            51%  64%
Service Games Played          165  361
Service Games Won             79%  85%
Total Service Points Won      65%  67%
1st Serve Return Points Won   39%  31%
2nd Serve Return Points Won   58%  52%
Break Points Opportunities    144  226
Break Points Converted        44%  37%
Return Games Played           161  350
Return Games Won              40%  24%
Return Points Won             45%  38%
Total Points Won              55%  53%

In [14]:
m.build_win_loss_frame()

                              nadal_ytd  nadal_ytd pct nadal_career  nadal_career pct  nadal_titles ruud_ytd  ruud_ytd pct ruud_career  ruud_career pct  ruud_titles
index
Overall                          30 - 3          0.909   1058 - 212             0.833          92.0  30 - 10         0.750    149 - 80            0.651          8.0
Grand Slams                      14 - 0          1.000     305 - 41             0.882          22.0    6 - 1         0.857     20 - 14            0.588          0.0
ATP Masters 1000                  8 - 3          0.727     406 - 86             0.825          36.0   10 - 5         0.667     32 - 20            0.615          0.0
Tiebreaks                        11 - 2          0.846    261 - 165             0.613           NaN   11 - 6         0.647     37 - 41            0.474          NaN
Versus Top 10                     7 - 1          0.875    185 - 100             0.649           NaN    1 - 2         0.333      5 - 17            0.227          NaN
Finals                            4 - 1          0.800      92 - 38             0.708           NaN    2 - 2         0.500       8 - 4            0.667          NaN
Deciding Set (3rd or 5th Set)     7 - 2          0.778     179 - 79             0.694           NaN    6 - 3         0.667     39 - 18            0.684          NaN
5th Set Record                    3 - 0          1.000      25 - 13             0.658           NaN    1 - 0         1.000       5 - 4            0.556          NaN
Clay                             10 - 2          0.833     474 - 45             0.913          63.0   21 - 6         0.778     95 - 36            0.725          7.0
Grass                             0 - 0          0.000      71 - 20             0.780           4.0    0 - 0         0.000       2 - 3            0.400          0.0
Hard                             20 - 1          0.952    511 - 141             0.784          25.0    9 - 4         0.692     52 - 41            0.559          1.0
Carpet**                          0 - 0          0.000        2 - 6             0.250           0.0    0 - 0         0.000       0 - 0            0.000          0.0
Indoor                            0 - 0          0.000      94 - 41             0.696           2.0    1 - 1         0.500     24 - 15            0.615          0.0
Outdoor                          30 - 3          0.909    964 - 171             0.849          90.0   29 - 9         0.763    125 - 65            0.658          8.0
After Winning 1st Set            28 - 1          0.966     937 - 49             0.950           NaN   25 - 1         0.962    125 - 12            0.912          NaN
After Losing 1st Set              2 - 2          0.500    121 - 163             0.426           NaN    5 - 9         0.357     24 - 68            0.261          NaN
vs. Right Handers*               26 - 2          0.929    944 - 196             0.828           NaN   26 - 9         0.743    130 - 69            0.653          NaN
vs. Left Handers*                 4 - 1          0.800     114 - 16             0.877           NaN    4 - 1         0.800     17 - 11            0.607          NaN

In [15]:
m.build_activity_frame()

             Round   Rank                 Opponent  W-L            Score                                         tournament
0           Finals    8.0              Casper Ruud    W         63 63 60  Roland Garros  Paris, France  2022.05.23 - 202...
1      Semi-Finals    3.0         Alexander Zverev    W     768 66 (RET)  Roland Garros  Paris, France  2022.05.23 - 202...
2   Quarter-Finals    1.0           Novak Djokovic    W     62 46 62 764  Roland Garros  Paris, France  2022.05.23 - 202...
3      Round of 16    9.0    Felix Auger-Aliassime    W   36 63 62 36 63  Roland Garros  Paris, France  2022.05.23 - 202...
4      Round of 32   29.0  Botic van de Zandschulp    W         63 62 64  Roland Garros  Paris, France  2022.05.23 - 202...
5      Round of 64  138.0          Corentin Moutet    W         63 61 64  Roland Garros  Paris, France  2022.05.23 - 202...
6     Round of 128   82.0          Jordan Thompson    W         62 62 62  Roland Garros  Paris, France  2022.05.23 - 202...
7      Round of 16   16.0         Denis Shapovalov    L         61 57 26  ATP Masters 1000 Rome  Rome, Italy  2022.05.09...
8      Round of 32   27.0               John Isner    W            63 61  ATP Masters 1000 Rome  Rome, Italy  2022.05.09...
9      Round of 64    NaN                      Bye  NaN              NaN  ATP Masters 1000 Rome  Rome, Italy  2022.05.09...
10  Quarter-Finals    9.0           Carlos Alcaraz    L         26 61 36  ATP Masters 1000 Madrid  Madrid, Spain  2022.0...
11     Round of 16   60.0             David Goffin    W        63 57 769  ATP Masters 1000 Madrid  Madrid, Spain  2022.0...
12     Round of 32   32.0        Miomir Kecmanovic    W           61 764  ATP Masters 1000 Madrid  Madrid, Spain  2022.0...
13     Round of 64    NaN                      Bye  NaN              NaN  ATP Masters 1000 Madrid  Madrid, Spain  2022.0...
14          Finals   20.0             Taylor Fritz    L           36 675  ATP Masters 1000 Indian Wells  Indian Wells, C...
15     Semi-Finals   19.0           Carlos Alcaraz    W         64 46 63  ATP Masters 1000 Indian Wells  Indian Wells, C...
16  Quarter-Finals  132.0             Nick Kyrgios    W         76 57 64  ATP Masters 1000 Indian Wells  Indian Wells, C...
17     Round of 16   17.0            Reilly Opelka    W          763 765  ATP Masters 1000 Indian Wells  Indian Wells, C...
18     Round of 32   29.0             Daniel Evans    W            75 63  ATP Masters 1000 Indian Wells  Indian Wells, C...
19     Round of 64   38.0          Sebastian Korda    W        62 16 763  ATP Masters 1000 Indian Wells  Indian Wells, C...
20    Round of 128    NaN                      Bye  NaN              NaN  ATP Masters 1000 Indian Wells  Indian Wells, C...
21          Finals   12.0           Cameron Norrie    W            64 64  Acapulco  Acapulco, Mexico  2022.02.21 - 2022....
22     Semi-Finals    2.0          Daniil Medvedev    W            63 63  Acapulco  Acapulco, Mexico  2022.02.21 - 2022....
23  Quarter-Finals   39.0               Tommy Paul    W           60 765  Acapulco  Acapulco, Mexico  2022.02.21 - 2022....
24     Round of 16  130.0            Stefan Kozlov    W            60 63  Acapulco  Acapulco, Mexico  2022.02.21 - 2022....
25     Round of 32  100.0              Denis Kudla    W            63 62  Acapulco  Acapulco, Mexico  2022.02.21 - 2022....
26          Finals    2.0          Daniil Medvedev    W  26 675 64 64 75  Australian Open  Melbourne, Australia  2022.01...
27     Semi-Finals    7.0        Matteo Berrettini    W      63 62 36 63  Australian Open  Melbourne, Australia  2022.01...
28  Quarter-Finals   14.0         Denis Shapovalov    W   63 64 46 36 63  Australian Open  Melbourne, Australia  2022.01...
29     Round of 16   69.0         Adrian Mannarino    W       7614 62 62  Australian Open  Melbourne, Australia  2022.01...
30     Round of 32   30.0          Karen Khachanov    W      63 62 36 61  Australian Open  Melbourne, Australia  2022.01...
31     Round of 64  126.0         Yannick Hanfmann    W         62 63 64  Australian Open  Melbourne, Australia  2022.01...
32    Round of 128   66.0             Marcos Giron    W         61 64 62  Australian Open  Melbourne, Australia  2022.01...
33          Finals  112.0            Maxime Cressy    W           766 63  Melbourne  Melbourne, Australia  2022.01.03 - ...
34     Semi-Finals   95.0          Emil Ruusuvuori    W            64 75  Melbourne  Melbourne, Australia  2022.01.03 - ...
35  Quarter-Finals   65.0        Tallon Griekspoor    W            (W/O)  Melbourne  Melbourne, Australia  2022.01.03 - ...
36     Round of 16  104.0        Ricardas Berankis    W            62 75  Melbourne  Melbourne, Australia  2022.01.03 - ...
37     Round of 32    NaN                      Bye  NaN              NaN  Melbourne  Melbourne, Australia  2022.01.03 - ...

<h1 style="color:teal">predict</h1>

In [3]:
hms = HistoricalMatchStats(fname = 'atp_matches_2021.csv')

In [4]:
df = hms.player_match_rows()

/Users/michaelsands/code/tennis/vendors/tennisabstract/historical_match_stats.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df[c1].loc[_df.index.isin(randomlist)] = df[c1.replace('p1_', 'p2_')].loc[_df.index.isin(randomlist)]
/Users/michaelsands/code/tennis/vendors/tennisabstract/historical_match_stats.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df[c2].loc[_df.index.isin(randomlist)] = df[c2.replace('p2_', 'p1_')].loc[_df.index.isin(randomlist)]

In [5]:
df.describe().transpose()

               count        mean        std    min    25%    50%    75%     max
match_num     1898.0  250.003688  63.785945    1.0  240.0  277.0  290.0   300.0
tourney_name  1898.0   55.964173  29.901063    0.0   46.0   65.0   78.0    93.0
p1_result     1898.0    0.500000   0.500132    0.0    0.0    0.5    1.0     1.0
p2_result     1898.0    0.500000   0.500132    0.0    0.0    0.5    1.0     1.0
p1_hand       1898.0    0.866702   0.339986    0.0    1.0    1.0    1.0     1.0
p1_rank       1898.0   57.293994  53.666790    1.0   23.0   48.0   79.0  1020.0
p1_ht         1898.0  187.592729   7.142727  170.0  183.0  188.0  193.0   211.0
p1_ace        1898.0    6.279241   5.636783    0.0    2.0    5.0    9.0    49.0
p1_df         1898.0    3.057429   2.497520    0.0    1.0    3.0    4.0    26.0
p1_svpt       1898.0   80.667545  28.798568    6.0   59.0   75.0   98.0   220.0
p1_1stIn      1898.0   49.900948  18.856663    2.0   36.0   46.0   60.0   139.0
p1_1stWon     1898.0   35.612223  13.849454    0.0   26.0   33.0   43.0    94.0
p1_2ndWon     1898.0   15.445732   6.806959    0.0   11.0   14.0   19.0    48.0
p1_SvGms      1898.0   12.645416   4.222362    1.0   10.0   12.0   15.0    31.0
p1_bpSaved    1898.0    4.160695   3.282836    0.0    2.0    4.0    6.0    23.0
p1_bpFaced    1898.0    6.885142   4.523876    0.0    3.0    6.0   10.0    28.0
p2_hand       1898.0    0.865121   0.344756    0.0    1.0    1.0    1.0     2.0
p2_rank       1898.0   60.631718  86.788607    1.0   22.0   46.0   81.0  2146.0
p2_ht         1898.0  187.774499   6.895465  170.0  183.0  188.0  193.0   211.0
p2_ace        1898.0    6.340885   5.591169    0.0    2.0    5.0    9.0    44.0
p2_df         1898.0    3.007376   2.499330    0.0    1.0    3.0    4.0    23.0
p2_svpt       1898.0   80.890938  29.165863    8.0   59.0   75.0   98.0   227.0
p2_1stIn      1898.0   50.224447  18.997827    6.0   36.0   47.0   61.0   145.0
p2_1stWon     1898.0   35.822972  13.962721    5.0   26.0   33.0   43.0    96.0
p2_2ndWon     1898.0   15.427292   6.799038    0.0   11.0   14.0   19.0    48.0
p2_SvGms      1898.0   12.668072   4.236728    1.0   10.0   11.0   15.0    31.0
p2_bpSaved    1898.0    4.173867   3.310868    0.0    2.0    4.0    6.0    22.0
p2_bpFaced    1898.0    6.863014   4.546044    0.0    3.0    6.0   10.0    29.0

In [6]:
df = df[[
'p1_result','p2_result',
'p1_hand', 'p1_rank','p1_ht', 'p1_ace','p1_svpt', 'p1_1stIn', 'p1_1stWon', 'p1_2ndWon', 'p1_SvGms', 'p1_bpSaved', 'p1_bpFaced', 
'p2_hand','p2_rank', 'p2_ht', 'p2_ace', 'p2_svpt', 'p2_1stIn', 'p2_1stWon', 'p2_2ndWon', 'p2_SvGms', 'p2_bpSaved', 'p2_bpFaced'
]]

In [7]:
learnloop.learn(df)

*** LogisticRegression(random_state=100) ***
Accuracy: 0.9456140350877194
Precision: 0.9604743083003953
Recall: 0.9204545454545454
predit: [0]

*** SVC(kernel='linear') ***

/Users/michaelsands/venvs/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/michaelsands/venvs/venv/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

Accuracy: 0.9491228070175438
Precision: 0.9607843137254902
Recall: 0.928030303030303
predit: [1]

*** KNeighborsClassifier(n_neighbors=3) ***
Accuracy: 0.6789473684210526
Precision: 0.6354515050167224
Recall: 0.7196969696969697
predit: [1]

*** DecisionTreeClassifier() ***
Accuracy: 0.7842105263157895
Precision: 0.7680608365019012
Recall: 0.7651515151515151
predit: [0]

/Users/michaelsands/venvs/venv/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(
/Users/michaelsands/venvs/venv/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/Users/michaelsands/venvs/venv/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
# TODO: call match.build_prediction_frame()

<h1 style="color:teal">pobabilities</h1>